<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.cocos2d-effects</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/cocos2d/CCLightCollection.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightCollection.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCLightCollection.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightCollection.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCLightGroups.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightGroups.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCLightNode_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightNode_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCLightNode.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCLightNode.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCLightNode.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectBloom.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBloom.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectBloom.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBloom.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectBlur.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBlur.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectBlur.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBlur.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectSaturation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectSaturation.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectSaturation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectSaturation.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectColorChannelOffset.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColorChannelOffset.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectColorChannelOffset.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColorChannelOffset.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDFInnerGlow.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDFInnerGlow.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDFInnerGlow.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDFInnerGlow.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDFOutline.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDFOutline.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDFOutline.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDFOutline.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDistanceField.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDistanceField.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDistanceField.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDistanceField.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDropShadow_dist.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDropShadow_dist.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDropShadow_dist.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDropShadow_dist.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDropShadow.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDropShadow.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectDropShadow.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectDropShadow.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectGlass.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectGlass.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectGlass.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectGlass.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectHue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectHue.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectHue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectHue.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectInvert.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectInvert.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectInvert.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectInvert.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectLighting.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectLighting.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectLighting.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectLighting.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectOutline.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectOutline.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectOutline.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectOutline.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectReflection.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectReflection.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectReflection.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectReflection.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectRefraction.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectRefraction.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectRefraction.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectRefraction.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectStackProtocol.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStackProtocol.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectStereo.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStereo.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectStereo.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStereo.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectUtils.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectUtils.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectUtils.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffect.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffect.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectBrightness.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBrightness.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectContrast.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectContrast.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectColor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectColorPulse.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColorPulse.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectPixellate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectPixellate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectNode.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Misc Nodes</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectStack.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStack.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectTexture.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectTexture.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffect_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffect_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffectStack_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStack_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/CCEffect.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffect.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectBrightness.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectBrightness.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectContrast.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectContrast.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectColor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColor.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectColorPulse.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectColorPulse.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectPixellate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectPixellate.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectNode.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Misc Nodes</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectNode.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectStack.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectStack.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectTexture.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectTexture.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectRenderer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectRenderer.h</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/CCEffectRenderer.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Effects</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/CCEffectRenderer.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/cocos2d/CCEffectRenderer.h</string>
		<string>Libraries/cocos2d/CCEffectRenderer.m</string>
		<string>Libraries/cocos2d/CCLightCollection.h</string>
		<string>Libraries/cocos2d/CCLightCollection.m</string>
		<string>Libraries/cocos2d/CCLightGroups.h</string>
		<string>Libraries/cocos2d/CCLightNode_Private.h</string>
		<string>Libraries/cocos2d/CCLightNode.h</string>
		<string>Libraries/cocos2d/CCLightNode.m</string>
		<string>Libraries/cocos2d/CCEffectBloom.h</string>
		<string>Libraries/cocos2d/CCEffectBloom.m</string>
		<string>Libraries/cocos2d/CCEffectBlur.h</string>
		<string>Libraries/cocos2d/CCEffectBlur.m</string>
		<string>Libraries/cocos2d/CCEffectSaturation.h</string>
		<string>Libraries/cocos2d/CCEffectSaturation.m</string>
		<string>Libraries/cocos2d/CCEffectColorChannelOffset.h</string>
		<string>Libraries/cocos2d/CCEffectColorChannelOffset.m</string>
		<string>Libraries/cocos2d/CCEffectDFInnerGlow.h</string>
		<string>Libraries/cocos2d/CCEffectDFInnerGlow.m</string>
		<string>Libraries/cocos2d/CCEffectDFOutline.h</string>
		<string>Libraries/cocos2d/CCEffectDFOutline.m</string>
		<string>Libraries/cocos2d/CCEffectDistanceField.h</string>
		<string>Libraries/cocos2d/CCEffectDistanceField.m</string>
		<string>Libraries/cocos2d/CCEffectDropShadow_dist.h</string>
		<string>Libraries/cocos2d/CCEffectDropShadow_dist.m</string>
		<string>Libraries/cocos2d/CCEffectDropShadow.h</string>
		<string>Libraries/cocos2d/CCEffectDropShadow.m</string>
		<string>Libraries/cocos2d/CCEffectGlass.h</string>
		<string>Libraries/cocos2d/CCEffectGlass.m</string>
		<string>Libraries/cocos2d/CCEffectHue.h</string>
		<string>Libraries/cocos2d/CCEffectHue.m</string>
		<string>Libraries/cocos2d/CCEffectInvert.h</string>
		<string>Libraries/cocos2d/CCEffectInvert.m</string>
		<string>Libraries/cocos2d/CCEffectLighting.h</string>
		<string>Libraries/cocos2d/CCEffectLighting.m</string>
		<string>Libraries/cocos2d/CCEffectOutline.h</string>
		<string>Libraries/cocos2d/CCEffectOutline.m</string>
		<string>Libraries/cocos2d/CCEffectReflection.h</string>
		<string>Libraries/cocos2d/CCEffectReflection.m</string>
		<string>Libraries/cocos2d/CCEffectRefraction.h</string>
		<string>Libraries/cocos2d/CCEffectRefraction.m</string>
		<string>Libraries/cocos2d/CCEffectStackProtocol.h</string>
		<string>Libraries/cocos2d/CCEffectStereo.h</string>
		<string>Libraries/cocos2d/CCEffectStereo.m</string>
		<string>Libraries/cocos2d/CCEffectUtils.h</string>
		<string>Libraries/cocos2d/CCEffectUtils.m</string>
		<string>Libraries/cocos2d/CCEffect.h</string>
		<string>Libraries/cocos2d/CCEffect.m</string>
		<string>Libraries/cocos2d/CCEffectBrightness.h</string>
		<string>Libraries/cocos2d/CCEffectBrightness.m</string>
		<string>Libraries/cocos2d/CCEffectContrast.h</string>
		<string>Libraries/cocos2d/CCEffectContrast.m</string>
		<string>Libraries/cocos2d/CCEffectColor.h</string>
		<string>Libraries/cocos2d/CCEffectColor.m</string>
		<string>Libraries/cocos2d/CCEffectColorPulse.h</string>
		<string>Libraries/cocos2d/CCEffectColorPulse.m</string>
		<string>Libraries/cocos2d/CCEffectPixellate.h</string>
		<string>Libraries/cocos2d/CCEffectPixellate.m</string>
		<string>Libraries/cocos2d/CCEffectNode.h</string>
		<string>Libraries/cocos2d/CCEffectNode.m</string>
		<string>Libraries/cocos2d/CCEffectStack.h</string>
		<string>Libraries/cocos2d/CCEffectStack.m</string>
		<string>Libraries/cocos2d/CCEffectTexture.h</string>
		<string>Libraries/cocos2d/CCEffectTexture.m</string>
		<string>Libraries/cocos2d/CCEffect_Private.h</string>
		<string>Libraries/cocos2d/CCEffectStack_Private.h</string>
	</array>
</dict>
</plist>
