<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>libs/cocoslive/CLScoreServerPost.h</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/CLScoreServerPost.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocoslive/CLScoreServerPost.m</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/CLScoreServerPost.m</string>
		</dict>
		<key>libs/cocoslive/CLScoreServerRequest.h</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/CLScoreServerRequest.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocoslive/CLScoreServerRequest.m</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/CLScoreServerRequest.m</string>
		</dict>
		<key>libs/cocoslive/cocoslive.h</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/cocoslive.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocoslive/cocoslive.m</key>
		<dict>
			<key>Group</key>
			<string>cocoslive</string>
			<key>Path</key>
			<string>libs/cocoslive/cocoslive.m</string>
		</dict>
		<key>libs/LICENSE_TouchJSON.txt</key>
		<dict>
			<key>Path</key>
			<string>libs/LICENSE_TouchJSON.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/CDataScanner.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/CDataScanner.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/CDataScanner.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/CDataScanner.m</string>
		</dict>
		<key>libs/TouchJSON/Extensions/CDataScanner_Extensions.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/Extensions/CDataScanner_Extensions.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/Extensions/CDataScanner_Extensions.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/Extensions/CDataScanner_Extensions.m</string>
		</dict>
		<key>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</string>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONDeserializer.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONDeserializer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONDeserializer.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONDeserializer.m</string>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONScanner.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONScanner.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONScanner.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONScanner.m</string>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONSerializer.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONSerializer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/TouchJSON/JSON/CJSONSerializer.m</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/CJSONSerializer.m</string>
		</dict>
		<key>libs/TouchJSON/JSON/JSONRepresentation.h</key>
		<dict>
			<key>Group</key>
			<string>TouchJSON</string>
			<key>Path</key>
			<string>libs/TouchJSON/JSON/JSONRepresentation.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides an starting point for cocos2d for iOS.</string>
	<key>Identifier</key>
	<string>com.cocos2d.cocoslivelib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>libs/cocoslive/CLScoreServerPost.h</string>
		<string>libs/cocoslive/CLScoreServerPost.m</string>
		<string>libs/cocoslive/CLScoreServerRequest.h</string>
		<string>libs/cocoslive/CLScoreServerRequest.m</string>
		<string>libs/cocoslive/cocoslive.h</string>
		<string>libs/cocoslive/cocoslive.m</string>
		<string>libs/LICENSE_TouchJSON.txt</string>
		<string>libs/TouchJSON/CDataScanner.h</string>
		<string>libs/TouchJSON/CDataScanner.m</string>
		<string>libs/TouchJSON/Extensions/CDataScanner_Extensions.h</string>
		<string>libs/TouchJSON/Extensions/CDataScanner_Extensions.m</string>
		<string>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</string>
		<string>libs/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</string>
		<string>libs/TouchJSON/JSON/CJSONDeserializer.h</string>
		<string>libs/TouchJSON/JSON/CJSONDeserializer.m</string>
		<string>libs/TouchJSON/JSON/CJSONScanner.h</string>
		<string>libs/TouchJSON/JSON/CJSONScanner.m</string>
		<string>libs/TouchJSON/JSON/CJSONSerializer.h</string>
		<string>libs/TouchJSON/JSON/CJSONSerializer.m</string>
		<string>libs/TouchJSON/JSON/JSONRepresentation.h</string>
	</array>
</dict>
</plist>
