<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v2.bundlebase</string>
		<string>com.cocos2d-v2.iosbase</string>
		<string>com.cocos2d-v2.cocos2dlib</string>
		<string>com.cocos2d-v2.cocosdenshionlib</string>
		<string>com.cocos2d-v2.kazmathlib</string>
		<string>com.cocos2d-v2.box2dlib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>HelloWorldLayer.h</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>HelloWorldLayer.mm</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.mm</string>
		</dict>
		<key>IntroLayer.h</key>
		<dict>
			<key>Path</key>
			<string>IntroLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>IntroLayer.mm</key>
		<dict>
			<key>Path</key>
			<string>IntroLayer.mm</string>
		</dict>
		<key>RootViewController.h</key>
		<dict>
			<key>Path</key>
			<string>RootViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>RootViewController.m</key>
		<dict>
			<key>Path</key>
			<string>RootViewController.m</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppDelegate.mm</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.mm</string>
		</dict>
		<key>GLES-Render.h</key>
		<dict>
			<key>Path</key>
			<string>GLES-Render.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>GLES-Render.mm</key>
		<dict>
			<key>Path</key>
			<string>GLES-Render.mm</string>
		</dict>
		<key>PhysicsSprite.h</key>
		<dict>
			<key>Path</key>
			<string>PhysicsSprite.h</string>
		</dict>
		<key>PhysicsSprite.mm</key>
		<dict>
			<key>Path</key>
			<string>PhysicsSprite.mm</string>
		</dict>
		<key>Resources/blocks.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/blocks.png</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d v2.0 and Box2d for iOS. It also includes CocosDenshion.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v2.cocos2dBox2dIOSTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.mm</string>
		<string>HelloWorldLayer.h</string>
		<string>HelloWorldLayer.mm</string>
		<string>IntroLayer.h</string>
		<string>IntroLayer.mm</string>
		<string>GLES-Render.h</string>
		<string>GLES-Render.mm</string>
		<string>PhysicsSprite.h</string>
		<string>PhysicsSprite.mm</string>
		<string>Resources/blocks.png</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>&quot;___PACKAGENAME___/libs&quot;</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
