[submodule "external/Fragaria"]
	path = external/Fragaria
	url = https://github.com/nicolasgramlich/Fragaria
[submodule "tests/MoonWarriors"]
	path = tests/MoonWarriors
	url = git://github.com/ricardoquesada/MoonWarriors.git
[submodule "external/jsbindings"]
	path = external/jsbindings
	url = git://github.com/ricardoquesada/jsbindings.git
[submodule "tests/cocos2d-html5-tests"]
	path = tests/cocos2d-html5-tests
	url = git://github.com/ricardoquesada/cocos2d-html5-tests.git
[submodule "tests/CocosDragonJS"]
	path = tests/CocosDragonJS
	url = git://github.com/ricardoquesada/CocosDragonJS.git
[submodule "external/Chipmunk"]
	path = external/Chipmunk
	url = git://github.com/slembcke/Chipmunk-Physics.git
