[submodule "external/Fragaria"]
	path = external/Fragaria
	url = https://github.com/nicolasgramlich/Fragaria
[submodule "tests/MoonWarriors"]
	path = tests/MoonWarriors
	url = git://github.com/ricardoquesada/MoonWarriors.git
[submodule "external/jsbindings"]
	path = external/jsbindings
	url = git://github.com/ricardoquesada/jsbindings.git
