[submodule "external/Chipmunk"]
	path = external/Chipmunk
url=https://github.com/slembcke/Chipmunk2D.git
[submodule "external/ObjectAL"]
	path = external/ObjectAL
	url = https://github.com/spritebuilder/ObjectAL-for-Cocos2D.git
	branch = apportable
[submodule "external/SSZipArchive"]
	path = external/SSZipArchive
	url = https://github.com/spritebuilder/ssziparchive.git
[submodule "external/OCMock"]
	path = external/OCMock
	url = https://github.com/erikdoe/ocmock.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/slembcke/libpng.git
