<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author 1</key>
	<string>Ricardo Quesada</string>
	<key>Author 2</key>
	<string>Scott Lembcke</string>
	<key>Author 3</key>
	<string>Thayer Andrews</string>
	<key>Author 4</key>
	<string>Viktor Lidholt</string>
	<key>Author 5</key>
	<string>Lars Birkemose</string>
	<key>Author 6</key>
	<string>John Twigg</string>
	<key>Author 7</key>
	<string>Nicky Weber</string>
	<key>Author 8</key>
	<string>Oleg Osin</string>
	<key>Author 9</key>
	<string>araker</string>
	<key>Author 10</key>
	<string>Steffen Itterheim</string>
	<key>Author 11</key>
	<string>Andy Korth</string>
	<key>Author 12</key>
	<string>Martin Walsh</string>
	<key>Author 13</key>
	<string>manucorporat</string>
	<key>Author 14</key>
	<string>Dominic Hadl</string>
	<key>Author 15</key>
	<string>Marc Salem</string>
	<key>Author 16</key>
	<string>Pierre David Belanger</string>
	<key>Author 17</key>
	<string>rkachowski</string>
	<key>Author 18</key>
	<string>slipster216</string>
	<key>Author 19</key>
	<string>Richard Groves</string>
	<key>Author 20</key>
	<string>darvin</string>
	<key>Author 21</key>
	<string>Panajev</string>
	<key>Author 22</key>
	<string>carlomorgantinizynga</string>
	<key>Author 23</key>
	<string>danhd123</string>
	<key>Author 24</key>
	<string>stuartcarnie</string>
	<key>Author 25</key>
	<string>kalo</string>
	<key>Author 26</key>
	<string>haqu</string>
	<key>Author 27</key>
	<string>cjhanson</string>
	<key>Author 28</key>
	<string>phausler</string>
	<key>Author 29</key>
	<string>RobBoluga</string>
	<key>Author 30</key>
	<string>LamPham</string>
	<key>Author 31</key>
	<string>kstenerud</string>
	<key>Author 32</key>
	<string>and 64 other </string>
</dict>
</plist>
