<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.ccbreaderlib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/CCBReader/CCAnimationManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCAnimationManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCAnimationManager_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCAnimationManager_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCAnimationManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCAnimationManager.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBAnimationManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBAnimationManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBAnimationManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBAnimationManager.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBKeyframe.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBKeyframe.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBKeyframe.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBKeyframe.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBReader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBReader.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBReader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBReader.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBSequence.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBSequence.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBsequence.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBsequence.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBSequenceProperty.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBSequenceProperty.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBSequenceProperty.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBSequenceProperty.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBLocalizationManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBLocalizationManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBLocalizationManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBLocalizationManager.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/CCBReader/CCBuilderReader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBuilderReader.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/CCBReader/CCBReader_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
				<string>CCBReader</string>
			</array>
			<key>Path</key>
			<string>Libraries/CCBReader/CCBReader_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/LICENSE_CCBReader.txt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
			</array>
			<key>Path</key>
			<string>Libraries/LICENSE_CCBReader.txt</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/CCBReader/CCAnimationManager.h</string>
		<string>Libraries/CCBReader/CCAnimationManager_Private.h</string>
		<string>Libraries/CCBReader/CCAnimationManager.m</string>
		<string>Libraries/CCBReader/CCBAnimationManager.h</string>
		<string>Libraries/CCBReader/CCBAnimationManager.m</string>
		<string>Libraries/CCBReader/CCBKeyframe.h</string>
		<string>Libraries/CCBReader/CCBKeyframe.m</string>
		<string>Libraries/CCBReader/CCBReader.h</string>
		<string>Libraries/CCBReader/CCBReader.m</string>
		<string>Libraries/CCBReader/CCBSequence.h</string>
		<string>Libraries/CCBReader/CCBsequence.m</string>
		<string>Libraries/CCBReader/CCBSequenceProperty.h</string>
		<string>Libraries/CCBReader/CCBSequenceProperty.m</string>
		<string>Libraries/CCBReader/CCBLocalizationManager.h</string>
		<string>Libraries/CCBReader/CCBLocalizationManager.m</string>
		<string>Libraries/CCBReader/CCBuilderReader.h</string>
		<string>Libraries/CCBReader/CCBReader_Private.h</string>
		<string>Libraries/LICENSE_CCBReader.txt</string>
	</array>
</dict>
</plist>
