<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.cocos2d-uilib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/cocos2d-ui/CCButton.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCButton.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCButton.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCButton.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCControl.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCControl.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCControl.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCControl.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCControlSubclass.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCControlSubclass.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCControlTextureFactory.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCControlTextureFactory.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCControlTextureFactory.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCControlTextureFactory.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCScrollView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCScrollView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCScrollView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCScrollView.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCSlider.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCSlider.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCSlider.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCSlider.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCTableView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCTableView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCTableView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCTableView.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/CCTextField.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCTextField.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d-ui/CCTextField.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/CCTextField.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d-ui/cocos2d-ui.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d-ui</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d-ui/cocos2d-ui.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/cocos2d-ui/CCButton.h</string>
		<string>Libraries/cocos2d-ui/CCButton.m</string>
		<string>Libraries/cocos2d-ui/CCControl.h</string>
		<string>Libraries/cocos2d-ui/CCControl.m</string>
		<string>Libraries/cocos2d-ui/CCControlSubclass.h</string>
		<string>Libraries/cocos2d-ui/CCControlTextureFactory.h</string>
		<string>Libraries/cocos2d-ui/CCControlTextureFactory.m</string>
		<string>Libraries/cocos2d-ui/CCScrollView.h</string>
		<string>Libraries/cocos2d-ui/CCScrollView.m</string>
		<string>Libraries/cocos2d-ui/CCSlider.h</string>
		<string>Libraries/cocos2d-ui/CCSlider.m</string>
		<string>Libraries/cocos2d-ui/CCTableView.h</string>
		<string>Libraries/cocos2d-ui/CCTableView.m</string>
		<string>Libraries/cocos2d-ui/CCTextField.h</string>
		<string>Libraries/cocos2d-ui/CCTextField.m</string>
		<string>Libraries/cocos2d-ui/cocos2d-ui.h</string>
	</array>
</dict>
</plist>
