<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,830},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>back.red.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,732},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,855},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,757},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>clubs.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>diamonds.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>hearts.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>joker.black.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>joker.red.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>spades.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,96}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.classic.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a27ef5792b39a66a0d905dc659aaf9a1:9f867215f4043dcc1ce77819a41ab615:8423c3bd284f53c6f01fe158403e68e7$</string>
            <key>textureFileName</key>
            <string>cards.classic.png</string>
        </dict>
    </dict>
</plist>
