<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,440},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,440},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,758},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>info.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,622},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{360,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{360,56}}</string>
                <key>sourceSize</key>
                <string>{380,90}</string>
            </dict>
            <key>paddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{40,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,360}}</string>
                <key>sourceSize</key>
                <string>{40,360}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{436,436}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{360,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,180}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{719,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,58}}</string>
                <key>sourceSize</key>
                <string>{719,58}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,576},{360,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,180}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demo-4x.png</string>
            <key>size</key>
            <string>{1010,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec521f2e1c95c7cb2a2c5d1723c3b565:725b4a28e6f6a5217f1caa391ab6b2a9:95b93798f4d1a3ab71545c1328dd8b93$</string>
            <key>textureFileName</key>
            <string>demo-4x.png</string>
        </dict>
    </dict>
</plist>
