<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Tom_blink.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>185</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>191</integer>
			<key>originalHeight</key>
			<integer>168</integer>
		</dict>
		<key>Tom.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>782</integer>
			<key>width</key>
			<integer>185</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>191</integer>
			<key>originalHeight</key>
			<integer>168</integer>
		</dict>
		<key>Turret_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>231</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>231</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>Turret_continue.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>204</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>Turret_main_bkgrnd.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Turret_main_taptocont.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>191</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>198</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Turret_main_title.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Turret_newgame.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>193</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>Turret_loading.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>167</integer>
			<key>width</key>
			<integer>182</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>191</integer>
			<key>originalHeight</key>
			<integer>41</integer>
		</dict>
		<key>Level_bkgrnd.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>Level_bullet.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>532</integer>
			<key>width</key>
			<integer>9</integer>
			<key>height</key>
			<integer>9</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>9</integer>
			<key>originalHeight</key>
			<integer>9</integer>
		</dict>
		<key>Level_person1.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>468</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>Level_person2.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Level_scientist.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>326</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>Level_Tom_blink.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>280</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>Level_Tom.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
	</dict>
</dict>
</plist>