<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.cocos2d-v3.iosbase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductDependencies</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>OpenGLES</string>
				<string>OpenAL</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>CoreText</string>
				<string>GLKit</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<array>
					<string>-lz</string>
					<string>-lsqlite3</string>
					<string>-ObjC</string>
				</array>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Dependencies</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default@2x.png</string>
		</dict>
		<key>Resources/Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default-568h@2x.png</string>
		</dict>
		<key>Resources/Default-Landscape~ipad.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default-Landscape~ipad.png</string>
		</dict>
		<key>Resources/Icons/Icon-72.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-72.png</string>
		</dict>
		<key>Resources/Icons/Icon-72@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-72@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-76.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-76.png</string>
		</dict>
		<key>Resources/Icons/Icon-76@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-76@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-120.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-120.png</string>
		</dict>
		<key>Resources/Icons/Icon-iPad-Spotlight-iOS7@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-iPad-Spotlight-iOS7@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-Small-50.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-Small-50.png</string>
		</dict>
		<key>Resources/Icons/Icon-Small.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-Small.png</string>
		</dict>
		<key>Resources/Icons/Icon-Small@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-Small@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-Spotlight-iOS7.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-Spotlight-iOS7.png</string>
		</dict>
		<key>Resources/Icons/Icon-Spotlight-iOS7@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-Spotlight-iOS7@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon.png</string>
		</dict>
		<key>Resources/Icons/Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon@2x.png</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../iTunesArtwork</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/iTunesArtwork</string>
		</dict>
		<key>../iTunesArtwork@2x</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/iTunesArtwork@2x</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Resources/Default.png</string>
		<string>Resources/Default@2x.png</string>
		<string>Resources/Default-568h@2x.png</string>
		<string>Resources/Default-Landscape~ipad.png</string>
		<string>Resources/Icons/Icon.png</string>
		<string>Resources/Icons/Icon@2x.png</string>
		<string>Resources/Icons/Icon-72.png</string>
		<string>Resources/Icons/Icon-72@2x.png</string>
		<string>Resources/Icons/Icon-76.png</string>
		<string>Resources/Icons/Icon-76@2x.png</string>
		<string>Resources/Icons/Icon-120.png</string>
		<string>Resources/Icons/Icon-iPad-Spotlight-iOS7@2x.png</string>
		<string>Resources/Icons/Icon-Small-50.png</string>
		<string>Resources/Icons/Icon-Small.png</string>
		<string>Resources/Icons/Icon-Small@2x.png</string>
		<string>Resources/Icons/Icon-Spotlight-iOS7.png</string>
		<string>Resources/Icons/Icon-Spotlight-iOS7@2x.png</string>
		<string>Resources/Info.plist</string>
		<string>../iTunesArtwork</string>
		<string>../iTunesArtwork@2x</string>
	</array>
</dict>
</plist>
