<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.chipmunklib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_ffi.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_ffi.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_types.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_types.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_unsafe.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_unsafe.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpArbiter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpArbiter.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBB.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBB.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBody.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBody.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpConstraint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedRotarySpring.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedRotarySpring.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedSpring.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedSpring.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGearJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGearJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGrooveJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGrooveJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPinJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPinJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPivotJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPivotJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPolyShape.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPolyShape.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRatchetJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRatchetJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRotaryLimitJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRotaryLimitJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpShape.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpShape.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSimpleMotor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSimpleMotor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSlideJoint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSlideJoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpace.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpace.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpatialIndex.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpatialIndex.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpTransform.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpTransform.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/include/chipmunk/cpVect.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>include</string>
				<string>chipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpVect.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/chipmunk.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/chipmunk.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpArbiter.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpArbiter.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpArray.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpArray.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpBBTree.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpBBTree.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpBody.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpBody.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpCollision.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpCollision.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpConstraint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpConstraint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpDampedRotarySpring.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpDampedRotarySpring.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpDampedSpring.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpDampedSpring.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpGearJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpGearJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpGrooveJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpGrooveJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpHashSet.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpHashSet.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpPinJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpPinJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpPivotJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpPivotJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpPolyShape.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpPolyShape.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpRatchetJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpRatchetJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpRotaryLimitJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpRotaryLimitJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpShape.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpShape.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSimpleMotor.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSimpleMotor.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSlideJoint.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSlideJoint.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpace.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpace.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpaceComponent.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpaceComponent.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpaceDebug.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpaceDebug.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpaceHash.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpaceHash.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpaceQuery.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpaceQuery.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpaceStep.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpaceStep.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSpatialIndex.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSpatialIndex.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/cpSweep1D.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/cpSweep1D.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/chipmunk/src/prime.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>chipmunk</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/chipmunk/src/prime.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkBody.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkBody.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkConstraint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkExtras.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkExtras.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkMultiGrab.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkMultiGrab.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkShape.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkShape.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkSpace.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkSpace.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ObjectiveChipmunk.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>include</string>
				<string>ObjectiveChipmunk</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ObjectiveChipmunk.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/Chipmunk/objectivec/src/ChipmunkBody.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/src/ChipmunkBody.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/objectivec/src/ChipmunkConstraint.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/src/ChipmunkConstraint.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/objectivec/src/ChipmunkMultiGrab.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/src/ChipmunkMultiGrab.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/objectivec/src/ChipmunkShape.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/src/ChipmunkShape.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/Chipmunk/objectivec/src/ChipmunkSpace.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>Chipmunk</string>
				<string>objectivec</string>
				<string>src</string>
			</array>
			<key>Path</key>
			<string>Libraries/Chipmunk/objectivec/src/ChipmunkSpace.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>Libraries/LICENSE_Chipmunk.txt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
			</array>
			<key>Path</key>
			<string>Libraries/LICENSE_Chipmunk.txt</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_ffi.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_private.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_types.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/chipmunk_unsafe.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpArbiter.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBB.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpBody.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpConstraint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedRotarySpring.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpDampedSpring.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGearJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpGrooveJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPinJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPivotJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpPolyShape.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRatchetJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpRotaryLimitJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpShape.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSimpleMotor.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSlideJoint.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpace.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpSpatialIndex.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpTransform.h</string>
		<string>Libraries/Chipmunk/chipmunk/include/chipmunk/cpVect.h</string>
		<string>Libraries/Chipmunk/chipmunk/src/chipmunk.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpArbiter.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpArray.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpBBTree.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpBody.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpCollision.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpConstraint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpDampedRotarySpring.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpDampedSpring.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpGearJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpGrooveJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpHashSet.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpPinJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpPivotJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpPolyShape.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpRatchetJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpRotaryLimitJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpShape.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSimpleMotor.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSlideJoint.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpace.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpaceComponent.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpaceDebug.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpaceHash.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpaceQuery.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpaceStep.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSpatialIndex.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/cpSweep1D.c</string>
		<string>Libraries/Chipmunk/chipmunk/src/prime.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkBody.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkConstraint.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkExtras.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkMultiGrab.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkShape.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ChipmunkSpace.h</string>
		<string>Libraries/Chipmunk/objectivec/include/ObjectiveChipmunk/ObjectiveChipmunk.h</string>
		<string>Libraries/Chipmunk/objectivec/src/ChipmunkBody.m</string>
		<string>Libraries/Chipmunk/objectivec/src/ChipmunkConstraint.m</string>
		<string>Libraries/Chipmunk/objectivec/src/ChipmunkMultiGrab.m</string>
		<string>Libraries/Chipmunk/objectivec/src/ChipmunkShape.m</string>
		<string>Libraries/Chipmunk/objectivec/src/ChipmunkSpace.m</string>
		<string>Libraries/LICENSE_Chipmunk.txt</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>&quot;$(SRCROOT)/$(PROJECT_NAME)/Libraries/Chipmunk/chipmunk/include&quot;</string>
					<string>&quot;$(SRCROOT)/$(PROJECT_NAME)/Libraries/Chipmunk/objectivec/include&quot;</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
