<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arial16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,0},{510,62}}</string>
                <key>offset</key>
                <string>{-1,225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,62},{158,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,92}}</string>
                <key>sourceSize</key>
                <string>{158,92}</string>
            </dict>
            <key>b1-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,62},{169,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,98}}</string>
                <key>sourceSize</key>
                <string>{169,98}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>b2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,62},{158,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,94}}</string>
                <key>sourceSize</key>
                <string>{158,94}</string>
            </dict>
            <key>b2-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,160},{169,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,100}}</string>
                <key>sourceSize</key>
                <string>{169,100}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,0},{79,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>bitmapFontTest.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,456},{250,400}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,400}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>bitmapFontTest2.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{758,456},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>bitmapFontTest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,62},{500,84}}</string>
                <key>offset</key>
                <string>{-6,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bitmapFontTest4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,160},{248,176}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bitmapFontTest5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,160},{494,182}}</string>
                <key>offset</key>
                <string>{-9,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,62},{158,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,92}}</string>
                <key>sourceSize</key>
                <string>{158,92}</string>
            </dict>
            <key>f1-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{169,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,98}}</string>
                <key>sourceSize</key>
                <string>{169,98}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,0},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>f2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,62},{158,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,94}}</string>
                <key>sourceSize</key>
                <string>{158,94}</string>
            </dict>
            <key>f2-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,160},{169,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,100}}</string>
                <key>sourceSize</key>
                <string>{169,100}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,0},{79,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>futura-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{508,326}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{508,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>konqa32-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,160},{504,296}}</string>
                <key>offset</key>
                <string>{-4,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>konqa32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{504,84}}</string>
                <key>offset</key>
                <string>{-4,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>larabie-16-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{510,28}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{510,28}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
            <key>larabie-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,14}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,14}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>r1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,62},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>r1-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,160},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>r2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,62},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>r2-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,160},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,0},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>tuffy_bold_italic-charmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,968},{756,872}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{756,872}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CCLabelBNFont.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b40c39773351016d4c72a506eeb6ab0$</string>
            <key>textureFileName</key>
            <string>CCLabelBNFont.png</string>
        </dict>
    </dict>
</plist>
