<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.cocos2d-v3.Cocos2D-iOS-Template-Newton</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v3.bundlebase</string>
		<string>com.cocos2d-v3.iosbase</string>
		<string>com.cocos2d-v3.cocos2dlib</string>
		<string>com.cocos2d-v3.objectallib</string>
		<string>com.cocos2d-v3.cocos2d-uilib</string>
		<string>com.cocos2d-v3.kazmathlib</string>
		<string>com.cocos2d-v3.ccbreaderlib</string>
		<string>com.cocos2d-v3.chipmunklib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/main.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/HelloWorldScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/HelloWorldScene.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/IntroScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/IntroScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/IntroScene.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/IntroScene.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/NewtonConstants.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/NewtonConstants.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/NewtonScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/NewtonScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/NewtonScene.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/NewtonScene.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/NewtonSphere.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/NewtonSphere.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/NewtonSphere.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/NewtonSphere.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/LightBulb.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/LightBulb.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/LightBulb.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/LightBulb.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/Rope.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/Rope.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Rope.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Newton/Rope.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Resources/fire.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/fire.plist</string>
		</dict>
		<key>Resources/fire.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/fire.png</string>
		</dict>
		<key>Resources/newton-ipadhd.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton-ipadhd.plist</string>
		</dict>
		<key>Resources/newton-ipadhd.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton-ipadhd.png</string>
		</dict>
		<key>Resources/newton-ipad.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton-ipad.plist</string>
		</dict>
		<key>Resources/newton-ipad.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton-ipad.png</string>
		</dict>
		<key>Resources/newton.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton.plist</string>
		</dict>
		<key>Resources/newton.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Newton/Resources/newton.png</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template demonstrates a basic setup, and a Newton&apos;s cradle simulation with fake lighting and fire particles.</string>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch</string>
		<string>Supporting Files/main.m</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Classes/HelloWorldScene.h</string>
		<string>Classes/HelloWorldScene.m</string>
		<string>Classes/IntroScene.h</string>
		<string>Classes/IntroScene.m</string>
		<string>Classes/NewtonConstants.h</string>
		<string>Classes/NewtonScene.h</string>
		<string>Classes/NewtonScene.m</string>
		<string>Classes/NewtonSphere.h</string>
		<string>Classes/NewtonSphere.m</string>
		<string>Classes/LightBulb.h</string>
		<string>Classes/LightBulb.m</string>
		<string>Classes/Rope.h</string>
		<string>Classes/Rope.m</string>
		<string>Resources/fire.plist</string>
		<string>Resources/fire.png</string>
		<string>Resources/newton-ipadhd.plist</string>
		<string>Resources/newton-ipadhd.png</string>
		<string>Resources/newton-ipad.plist</string>
		<string>Resources/newton-ipad.png</string>
		<string>Resources/newton.plist</string>
		<string>Resources/newton.png</string>
	</array>
</dict>
</plist>
