<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.cocos2d-support</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/cocos2d/Support/CCRendererGLSupport.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCRendererGLSupport.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/base64.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/base64.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/base64.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/base64.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCColor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCColor.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/CCColor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCColor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCFileUtils.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCFileUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCFileUtils.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCFileUtils.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/CCProfiling.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Profiling</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCProfiling.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCProfiling.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Profiling</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCProfiling.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/ccUtils.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/ccUtils.c</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/ccUtils.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/ccUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCVertex.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Math</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCVertex.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CCVertex.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Math</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CCVertex.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/CGPointExtension.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Math</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CGPointExtension.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/CGPointExtension.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Math</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/CGPointExtension.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/NSThread+performBlock.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/NSThread+performBlock.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/NSThread+performBlock.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/NSThread+performBlock.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/TGAlib.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Image Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/TGAlib.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/TGAlib.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Image Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/TGAlib.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Support/uthash.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Data Structures</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/uthash.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/utlist.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
				<string>Data Structures</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/utlist.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/ZipUtils.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/ZipUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Support/ZipUtils.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Support/ZipUtils.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/cocos2d/Support/CCRendererGLSupport.m</string>
		<string>Libraries/cocos2d/Support/base64.h</string>
		<string>Libraries/cocos2d/Support/base64.c</string>
		<string>Libraries/cocos2d/Support/CCFileUtils.h</string>
		<string>Libraries/cocos2d/Support/CCFileUtils.m</string>
		<string>Libraries/cocos2d/Support/CCColor.h</string>
		<string>Libraries/cocos2d/Support/CCColor.m</string>
		<string>Libraries/cocos2d/Support/CCProfiling.h</string>
		<string>Libraries/cocos2d/Support/CCProfiling.m</string>
		<string>Libraries/cocos2d/Support/ccUtils.c</string>
		<string>Libraries/cocos2d/Support/ccUtils.h</string>
		<string>Libraries/cocos2d/Support/CCVertex.h</string>
		<string>Libraries/cocos2d/Support/CCVertex.m</string>
		<string>Libraries/cocos2d/Support/CGPointExtension.h</string>
		<string>Libraries/cocos2d/Support/CGPointExtension.m</string>
		<string>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.h</string>
		<string>Libraries/cocos2d/Support/NSAttributedString+CCAdditions.m</string>
		<string>Libraries/cocos2d/Support/NSThread+performBlock.h</string>
		<string>Libraries/cocos2d/Support/NSThread+performBlock.m</string>
		<string>Libraries/cocos2d/Support/TGAlib.h</string>
		<string>Libraries/cocos2d/Support/TGAlib.m</string>
		<string>Libraries/cocos2d/Support/uthash.h</string>
		<string>Libraries/cocos2d/Support/utlist.h</string>
		<string>Libraries/cocos2d/Support/ZipUtils.h</string>
		<string>Libraries/cocos2d/Support/ZipUtils.m</string>
	</array>
</dict>
</plist>
