<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d.bundlebase</string>
		<string>com.cocos2d.macbase</string>
		<string>com.cocos2d.cocos2dlib</string>
		<string>com.cocos2d.cocosdenshionlib</string>
		<string>com.cocos2d.cocosdenshionextraslib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>	
		<key>HelloWorldLayer.h</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>HelloWorldLayer.m</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.m</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		<string>HelloWorldLayer.h</string>
		<string>HelloWorldLayer.m</string>
	</array>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d for Mac. It also includes CocosDenshion.</string>
	<key>Identifier</key>
	<string>com.cocos2d.cocos2dOnlyMacTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
</dict>
</plist>
