<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Interface/btn-back.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 1}, {24, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20, 12}, {24, 41}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Interface/btn-next.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 1}, {27, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18, 14}, {27, 37}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Interface/btn-prev.png</key>
		<dict>
			<key>frame</key>
			<string>{{61, 1}, {27, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 14}, {27, 37}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Interface/btn-reload.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 44}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 13}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Interface/header.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {32, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 88}}</string>
			<key>sourceSize</key>
			<string>{32, 88}</string>
		</dict>
		<key>Interface/table-bg-hilite.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 84}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Interface/table-bg-normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 30}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Interface/textfield-bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 91}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>Interface.png</string>
	</dict>
</dict>
</plist>
