<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_ENABLE_OBJC_EXCEPTIONS</key>
			<string>YES</string>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_64_BIT)</string>
			<key>MACOSX_DEPLOYMENT_TARGET</key>
			<string>___RUNNINGOSXVERSION___</string>
			<key>GCC_WARN_64_TO_32_BIT_CONVERSION</key>
			<string>YES</string>
		</dict>
		<key>SDK</key>
		<string>macosx</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>ONLY_ACTIVE_ARCH</key>
				<string>YES</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>DEBUG_INFORMATION_FORMAT</key>
				<string>dwarf-with-dsym</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<array>
					<string>-lz</string>
					<string>-ObjC</string>
				</array>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>OpenGL</string>
				<string>OpenAL</string>
				<string>AudioToolbox</string>
				<string>AppKit</string>
				<string>Foundation</string>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>Resources/English.lproj/InfoPlist.strings</string>
		<string>Resources/English.lproj/MainMenu.xib</string>
		<string>Resources/icon.icns</string>
		<string>Resources/Info.plist</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Resources/English.lproj/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/InfoPlist.strings</string>
		</dict>
		<key>Resources/icon.icns</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/icon.icns</string>
		</dict>
		<key>Resources/English.lproj/MainMenu.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/MainMenu.xib</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Resources/Info.plist</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.cocos2d-v2.macbase</string>
</dict>
</plist>
