<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.cocos2d-v3.4.Cocos2D-iOS-Template</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v3.bundlebase</string>
		<string>com.cocos2d-v3.iosbase</string>
		<string>com.cocos2d-v3.cocos2d-base</string>
		<string>com.cocos2d-v3.cocos2d-effects</string>
		<string>com.cocos2d-v3.cocos2d-ui</string>
		<string>com.cocos2d-v3.cocos2d-platform</string>
		<string>com.cocos2d-v3.cocos2d-support</string>
		<string>com.cocos2d-v3.cocos2d-ccb</string>
		<string>com.cocos2d-v3.objectal</string>
		<string>com.cocos2d-v3.chipmunk</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/main.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/HelloWorldScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/HelloWorldScene.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldScene.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Resources/white_square.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/white_square.png</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides the minimum setup for any application.</string>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch</string>
		<string>Supporting Files/main.m</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Classes/HelloWorldScene.h</string>
		<string>Classes/HelloWorldScene.m</string>
		<string>Resources/white_square.png</string>
	</array>
</dict>
</plist>
