<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100x150-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,808},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>100x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,808},{400,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,600}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>100x200-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1612},{400,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,800}}</string>
                <key>sourceSize</key>
                <string>{400,800}</string>
            </dict>
            <key>100x200.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1612},{400,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,800}}</string>
                <key>sourceSize</key>
                <string>{400,800}</string>
            </dict>
            <key>200x150-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,808},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>200x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,808},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>200x200-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{800,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,800}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>200x200.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{800,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,800}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>200x50-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,4},{800,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,200}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
            <key>200x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,4},{800,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,200}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TexturePacker-PVR.pvr.gz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e247da87d818414da6e90172c90214:0c96174359fc326978e7435308c719ff:cd390c13f6a5b052e9c4c094e6117062$</string>
            <key>textureFileName</key>
            <string>TexturePacker-PVR.pvr.gz</string>
        </dict>
    </dict>
</plist>
