<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{2048.0,2048.0}</string>
        <key>name</key>
        <string>Zwoptex</string>
        <key>textureFileName</key>
        <string>Zwoptex.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>100x150-2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{400.0,600.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{400.0,600.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{400.0,600.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{808.0,808.0},{400.0,600.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>100x150.png</string>
            </array>
        </dict>
        <key>100x200-2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{400.0,800.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{400.0,800.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{400.0,800.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{808.0,4.0},{400.0,800.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>100x200.png</string>
            </array>
        </dict>
        <key>200x150.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{800.0,600.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{800.0,600.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{800.0,600.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{4.0,808.0},{800.0,600.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>200x150-2.png</string>
            </array>
        </dict>
        <key>200x200.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{800.0,800.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{800.0,800.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{800.0,800.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{4.0,4.0},{800.0,800.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>200x200-2.png</string>
            </array>
        </dict>
        <key>200x50.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{800.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{800.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{800.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{4.0,1412.0},{800.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>200x50-2.png</string>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{808.0,1412.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
