<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This is a template description.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.cocos2d-platform</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Libraries/cocos2d/Platforms/CCDirectorView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/CCDirectorView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/CCRenderDispatch_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/CCRenderDispatch_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/CCGL.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/CCGL.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/CCNS.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/CCNS.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCMetalSupport_Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCMetalSupport_Private.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCMetalSupport.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCMetalSupport.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCMetalView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCMetalView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCMetalView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCMetalView.m</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCShaders.metal</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCShaders.metal</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCGLView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCGLView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCGLView.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/UITouch+CC.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/UITouch+CC.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/UITouch+CC.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/UITouch+CC.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>iOS</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCGLView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCGLView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCGLView.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCWindow.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCWindow.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/CCWindow.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/CCWindow.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Libraries</string>
				<string>cocos2d</string>
				<string>Platforms</string>
				<string>Mac</string>
			</array>
			<key>Path</key>
			<string>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Libraries/cocos2d/Platforms/CCDirectorView.h</string>
		<string>Libraries/cocos2d/Platforms/CCRenderDispatch_Private.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCMetalSupport_Private.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCMetalSupport.m</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCMetalView.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCMetalView.m</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCShaders.metal</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCTouchIOS.m</string>
		<string>Libraries/cocos2d/Platforms/CCGL.h</string>
		<string>Libraries/cocos2d/Platforms/CCNS.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCDirectorIOS.m</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCGLView.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCGLView.m</string>
		<string>Libraries/cocos2d/Platforms/iOS/UITouch+CC.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/UITouch+CC.m</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.h</string>
		<string>Libraries/cocos2d/Platforms/iOS/CCAppDelegate.m</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.h</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCDirectorMac.m</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCGLView.h</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCGLView.m</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCWindow.h</string>
		<string>Libraries/cocos2d/Platforms/Mac/CCWindow.m</string>
		<string>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.h</string>
		<string>Libraries/cocos2d/Platforms/Mac/NSEvent+CC.m</string>
	</array>
</dict>
</plist>
