<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides an starting point for cocos2d for iOS.</string>
	<key>Identifier</key>
	<string>com.cocos2d.cocos2dlib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

	<key>Definitions</key>
	<dict>
		<key>libs/cocos2d/CCAction.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAction.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCAction.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAction.m</string>
		</dict>
		<key>libs/cocos2d/CCActionCamera.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionCamera.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionCamera.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionCamera.m</string>
		</dict>
		<key>libs/cocos2d/CCActionEase.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionEase.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionEase.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionEase.m</string>
		</dict>
		<key>libs/cocos2d/CCActionGrid.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionGrid.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionGrid.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionGrid.m</string>
		</dict>
		<key>libs/cocos2d/CCActionGrid3D.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionGrid3D.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionGrid3D.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionGrid3D.m</string>
		</dict>
		<key>libs/cocos2d/CCActionInstant.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionInstant.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionInstant.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionInstant.m</string>
		</dict>
		<key>libs/cocos2d/CCActionInterval.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionInterval.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionInterval.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionInterval.m</string>
		</dict>
		<key>libs/cocos2d/CCActionManager.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionManager.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionManager.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionManager.m</string>
		</dict>
		<key>libs/cocos2d/CCActionPageTurn3D.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionPageTurn3D.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionPageTurn3D.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionPageTurn3D.m</string>
		</dict>
		<key>libs/cocos2d/CCActionProgressTimer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionProgressTimer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionProgressTimer.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionProgressTimer.m</string>
		</dict>
		<key>libs/cocos2d/CCActionTiledGrid.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionTiledGrid.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionTiledGrid.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionTiledGrid.m</string>
		</dict>
		<key>libs/cocos2d/CCActionTween.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionTween.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCActionTween.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCActionTween.m</string>
		</dict>
		<key>libs/cocos2d/CCAnimation.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAnimation.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCAnimation.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAnimation.m</string>
		</dict>
		<key>libs/cocos2d/CCAnimationCache.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAnimationCache.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCAnimationCache.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAnimationCache.m</string>
		</dict>
		<key>libs/cocos2d/CCAtlasNode.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAtlasNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCAtlasNode.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCAtlasNode.m</string>
		</dict>
		<key>libs/cocos2d/CCBlockSupport.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCBlockSupport.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCBlockSupport.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCBlockSupport.m</string>
		</dict>
		<key>libs/cocos2d/CCCamera.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCCamera.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCCamera.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCCamera.m</string>
		</dict>
		<key>libs/cocos2d/ccConfig.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/ccConfig.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCConfiguration.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCConfiguration.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCConfiguration.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCConfiguration.m</string>
		</dict>
		<key>libs/cocos2d/CCDirector.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCDirector.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCDirector.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCDirector.m</string>
		</dict>
		<key>libs/cocos2d/CCDrawingPrimitives.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCDrawingPrimitives.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCDrawingPrimitives.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCDrawingPrimitives.m</string>
		</dict>
		<key>libs/cocos2d/CCGrabber.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCGrabber.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCGrabber.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCGrabber.m</string>
		</dict>
		<key>libs/cocos2d/CCGrid.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCGrid.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCGrid.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCGrid.m</string>
		</dict>
		<key>libs/cocos2d/CCLabelAtlas.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelAtlas.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCLabelAtlas.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelAtlas.m</string>
		</dict>
		<key>libs/cocos2d/CCLabelBMFont.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelBMFont.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCLabelBMFont.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelBMFont.m</string>
		</dict>
		<key>libs/cocos2d/CCLabelTTF.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelTTF.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCLabelTTF.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLabelTTF.m</string>
		</dict>
		<key>libs/cocos2d/CCLayer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCLayer.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCLayer.m</string>
		</dict>
		<key>libs/cocos2d/ccMacros.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/ccMacros.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCMenu.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMenu.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCMenu.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMenu.m</string>
		</dict>
		<key>libs/cocos2d/CCMenuItem.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMenuItem.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCMenuItem.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMenuItem.m</string>
		</dict>
		<key>libs/cocos2d/CCMotionStreak.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMotionStreak.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCMotionStreak.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCMotionStreak.m</string>
		</dict>
		<key>libs/cocos2d/CCNode.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCNode.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCNode.m</string>
		</dict>
		<key>libs/cocos2d/CCParallaxNode.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParallaxNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCParallaxNode.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParallaxNode.m</string>
		</dict>
		<key>libs/cocos2d/CCParticleExamples.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleExamples.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCParticleExamples.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleExamples.m</string>
		</dict>
		<key>libs/cocos2d/CCParticleSystem.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystem.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCParticleSystem.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystem.m</string>
		</dict>
		<key>libs/cocos2d/CCParticleSystemPoint.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystemPoint.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCParticleSystemPoint.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystemPoint.m</string>
		</dict>
		<key>libs/cocos2d/CCParticleSystemQuad.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystemQuad.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCParticleSystemQuad.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCParticleSystemQuad.m</string>
		</dict>
		<key>libs/cocos2d/CCProgressTimer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCProgressTimer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCProgressTimer.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCProgressTimer.m</string>
		</dict>
		<key>libs/cocos2d/CCProtocols.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCProtocols.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCRenderTexture.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCRenderTexture.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCRenderTexture.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCRenderTexture.m</string>
		</dict>
		<key>libs/cocos2d/CCRibbon.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCRibbon.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCRibbon.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCRibbon.m</string>
		</dict>
		<key>libs/cocos2d/CCScene.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCScene.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCScene.m</string>
		</dict>
		<key>libs/cocos2d/CCScheduler.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCScheduler.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCScheduler.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCScheduler.m</string>
		</dict>
		<key>libs/cocos2d/CCSprite.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSprite.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCSprite.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSprite.m</string>
		</dict>
		<key>libs/cocos2d/CCSpriteBatchNode.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteBatchNode.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCSpriteBatchNode.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteBatchNode.m</string>
		</dict>
		<key>libs/cocos2d/CCSpriteFrame.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteFrame.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCSpriteFrame.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteFrame.m</string>
		</dict>
		<key>libs/cocos2d/CCSpriteFrameCache.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteFrameCache.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCSpriteFrameCache.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCSpriteFrameCache.m</string>
		</dict>
		<key>libs/cocos2d/CCTexture2D.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTexture2D.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTexture2D.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTexture2D.m</string>
		</dict>
		<key>libs/cocos2d/CCTextureAtlas.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTextureAtlas.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTextureAtlas.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTextureAtlas.m</string>
		</dict>
		<key>libs/cocos2d/CCTextureCache.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTextureCache.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTextureCache.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTextureCache.m</string>
		</dict>
		<key>libs/cocos2d/CCTexturePVR.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTexturePVR.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTexturePVR.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTexturePVR.m</string>
		</dict>
		<key>libs/cocos2d/CCTileMapAtlas.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTileMapAtlas.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTileMapAtlas.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTileMapAtlas.m</string>
		</dict>
		<key>libs/cocos2d/CCTMXLayer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTMXLayer.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXLayer.m</string>
		</dict>
		<key>libs/cocos2d/CCTMXObjectGroup.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXObjectGroup.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTMXObjectGroup.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXObjectGroup.m</string>
		</dict>
		<key>libs/cocos2d/CCTMXTiledMap.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXTiledMap.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTMXTiledMap.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXTiledMap.m</string>
		</dict>
		<key>libs/cocos2d/CCTMXXMLParser.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXXMLParser.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTMXXMLParser.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTMXXMLParser.m</string>
		</dict>
		<key>libs/cocos2d/CCTransition.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransition.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTransition.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransition.m</string>
		</dict>
		<key>libs/cocos2d/CCTransitionPageTurn.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransitionPageTurn.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTransitionPageTurn.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransitionPageTurn.m</string>
		</dict>
		<key>libs/cocos2d/CCTransitionRadial.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransitionRadial.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/CCTransitionRadial.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/CCTransitionRadial.m</string>
		</dict>
		<key>libs/cocos2d/ccTypes.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/ccTypes.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/cocos2d.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/cocos2d.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/cocos2d.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/cocos2d.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/CCGL.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/CCGL.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/CCNS.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/CCNS.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCDirectorIOS.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCDirectorIOS.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCDirectorIOS.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCDirectorIOS.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCTouchDelegateProtocol.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCTouchDelegateProtocol.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCTouchHandler.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCTouchHandler.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/CCTouchHandler.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/CCTouchHandler.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/EAGLView.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/EAGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/EAGLView.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/EAGLView.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/ES1Renderer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/ES1Renderer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/ES1Renderer.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/ES1Renderer.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/ESRenderer.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/ESRenderer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/glu.c</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/glu.c</string>
		</dict>
		<key>libs/cocos2d/Platforms/iOS/glu.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/iOS/glu.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/CCDirectorMac.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/CCDirectorMac.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/CCDirectorMac.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/CCDirectorMac.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/CCEventDispatcher.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/CCEventDispatcher.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/CCEventDispatcher.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/CCEventDispatcher.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/MacGLView.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/MacGLView.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/MacGLView.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/MacGLView.m</string>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/MacWindow.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/MacWindow.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Platforms/Mac/MacWindow.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Platforms/Mac/MacWindow.m</string>
		</dict>
		<key>libs/cocos2d/Support/base64.c</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/base64.c</string>
		</dict>
		<key>libs/cocos2d/Support/base64.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/base64.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CCArray.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCArray.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CCArray.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCArray.m</string>
		</dict>
		<key>libs/cocos2d/Support/ccCArray.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/ccCArray.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CCFileUtils.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCFileUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CCFileUtils.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCFileUtils.m</string>
		</dict>
		<key>libs/cocos2d/Support/CCProfiling.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCProfiling.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CCProfiling.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CCProfiling.m</string>
		</dict>
		<key>libs/cocos2d/Support/ccUtils.c</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/ccUtils.c</string>
		</dict>
		<key>libs/cocos2d/Support/ccUtils.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/ccUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CGPointExtension.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CGPointExtension.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/CGPointExtension.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/CGPointExtension.m</string>
		</dict>
		<key>libs/cocos2d/Support/OpenGL_Internal.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/OpenGL_Internal.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/TGAlib.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/TGAlib.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/TGAlib.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/TGAlib.m</string>
		</dict>
		<key>libs/cocos2d/Support/TransformUtils.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/TransformUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/TransformUtils.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/TransformUtils.m</string>
		</dict>
		<key>libs/cocos2d/Support/uthash.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/uthash.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/utlist.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/utlist.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/ZipUtils.h</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/ZipUtils.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>libs/cocos2d/Support/ZipUtils.m</key>
		<dict>
			<key>Group</key>
			<string>cocos2d</string>
			<key>Path</key>
			<string>libs/cocos2d/Support/ZipUtils.m</string>
		</dict>
		<key>libs/LICENSE_cocos2d.txt</key>
		<dict>
			<key>Path</key>
			<string>libs/LICENSE_cocos2d.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>libs/cocos2d/CCAction.h</string>
		<string>libs/cocos2d/CCAction.m</string>
		<string>libs/cocos2d/CCActionCamera.h</string>
		<string>libs/cocos2d/CCActionCamera.m</string>
		<string>libs/cocos2d/CCActionEase.h</string>
		<string>libs/cocos2d/CCActionEase.m</string>
		<string>libs/cocos2d/CCActionGrid.h</string>
		<string>libs/cocos2d/CCActionGrid.m</string>
		<string>libs/cocos2d/CCActionGrid3D.h</string>
		<string>libs/cocos2d/CCActionGrid3D.m</string>
		<string>libs/cocos2d/CCActionInstant.h</string>
		<string>libs/cocos2d/CCActionInstant.m</string>
		<string>libs/cocos2d/CCActionInterval.h</string>
		<string>libs/cocos2d/CCActionInterval.m</string>
		<string>libs/cocos2d/CCActionManager.h</string>
		<string>libs/cocos2d/CCActionManager.m</string>
		<string>libs/cocos2d/CCActionPageTurn3D.h</string>
		<string>libs/cocos2d/CCActionPageTurn3D.m</string>
		<string>libs/cocos2d/CCActionProgressTimer.h</string>
		<string>libs/cocos2d/CCActionProgressTimer.m</string>
		<string>libs/cocos2d/CCActionTiledGrid.h</string>
		<string>libs/cocos2d/CCActionTiledGrid.m</string>
		<string>libs/cocos2d/CCActionTween.h</string>
		<string>libs/cocos2d/CCActionTween.m</string>
		<string>libs/cocos2d/CCAnimation.h</string>
		<string>libs/cocos2d/CCAnimation.m</string>
		<string>libs/cocos2d/CCAnimationCache.h</string>
		<string>libs/cocos2d/CCAnimationCache.m</string>
		<string>libs/cocos2d/CCAtlasNode.h</string>
		<string>libs/cocos2d/CCAtlasNode.m</string>
		<string>libs/cocos2d/CCBlockSupport.h</string>
		<string>libs/cocos2d/CCBlockSupport.m</string>
		<string>libs/cocos2d/CCCamera.h</string>
		<string>libs/cocos2d/CCCamera.m</string>
		<string>libs/cocos2d/ccConfig.h</string>
		<string>libs/cocos2d/CCConfiguration.h</string>
		<string>libs/cocos2d/CCConfiguration.m</string>
		<string>libs/cocos2d/CCDirector.h</string>
		<string>libs/cocos2d/CCDirector.m</string>
		<string>libs/cocos2d/CCDrawingPrimitives.h</string>
		<string>libs/cocos2d/CCDrawingPrimitives.m</string>
		<string>libs/cocos2d/CCGrabber.h</string>
		<string>libs/cocos2d/CCGrabber.m</string>
		<string>libs/cocos2d/CCGrid.h</string>
		<string>libs/cocos2d/CCGrid.m</string>
		<string>libs/cocos2d/CCLabelAtlas.h</string>
		<string>libs/cocos2d/CCLabelAtlas.m</string>
		<string>libs/cocos2d/CCLabelBMFont.h</string>
		<string>libs/cocos2d/CCLabelBMFont.m</string>
		<string>libs/cocos2d/CCLabelTTF.h</string>
		<string>libs/cocos2d/CCLabelTTF.m</string>
		<string>libs/cocos2d/CCLayer.h</string>
		<string>libs/cocos2d/CCLayer.m</string>
		<string>libs/cocos2d/ccMacros.h</string>
		<string>libs/cocos2d/CCMenu.h</string>
		<string>libs/cocos2d/CCMenu.m</string>
		<string>libs/cocos2d/CCMenuItem.h</string>
		<string>libs/cocos2d/CCMenuItem.m</string>
		<string>libs/cocos2d/CCMotionStreak.h</string>
		<string>libs/cocos2d/CCMotionStreak.m</string>
		<string>libs/cocos2d/CCNode.h</string>
		<string>libs/cocos2d/CCNode.m</string>
		<string>libs/cocos2d/CCParallaxNode.h</string>
		<string>libs/cocos2d/CCParallaxNode.m</string>
		<string>libs/cocos2d/CCParticleExamples.h</string>
		<string>libs/cocos2d/CCParticleExamples.m</string>
		<string>libs/cocos2d/CCParticleSystem.h</string>
		<string>libs/cocos2d/CCParticleSystem.m</string>
		<string>libs/cocos2d/CCParticleSystemPoint.h</string>
		<string>libs/cocos2d/CCParticleSystemPoint.m</string>
		<string>libs/cocos2d/CCParticleSystemQuad.h</string>
		<string>libs/cocos2d/CCParticleSystemQuad.m</string>
		<string>libs/cocos2d/CCProgressTimer.h</string>
		<string>libs/cocos2d/CCProgressTimer.m</string>
		<string>libs/cocos2d/CCProtocols.h</string>
		<string>libs/cocos2d/CCRenderTexture.h</string>
		<string>libs/cocos2d/CCRenderTexture.m</string>
		<string>libs/cocos2d/CCRibbon.h</string>
		<string>libs/cocos2d/CCRibbon.m</string>
		<string>libs/cocos2d/CCScene.h</string>
		<string>libs/cocos2d/CCScene.m</string>
		<string>libs/cocos2d/CCScheduler.h</string>
		<string>libs/cocos2d/CCScheduler.m</string>
		<string>libs/cocos2d/CCSprite.h</string>
		<string>libs/cocos2d/CCSprite.m</string>
		<string>libs/cocos2d/CCSpriteBatchNode.h</string>
		<string>libs/cocos2d/CCSpriteBatchNode.m</string>
		<string>libs/cocos2d/CCSpriteFrame.h</string>
		<string>libs/cocos2d/CCSpriteFrame.m</string>
		<string>libs/cocos2d/CCSpriteFrameCache.h</string>
		<string>libs/cocos2d/CCSpriteFrameCache.m</string>
		<string>libs/cocos2d/CCTexture2D.h</string>
		<string>libs/cocos2d/CCTexture2D.m</string>
		<string>libs/cocos2d/CCTextureAtlas.h</string>
		<string>libs/cocos2d/CCTextureAtlas.m</string>
		<string>libs/cocos2d/CCTextureCache.h</string>
		<string>libs/cocos2d/CCTextureCache.m</string>
		<string>libs/cocos2d/CCTexturePVR.h</string>
		<string>libs/cocos2d/CCTexturePVR.m</string>
		<string>libs/cocos2d/CCTileMapAtlas.h</string>
		<string>libs/cocos2d/CCTileMapAtlas.m</string>
		<string>libs/cocos2d/CCTMXLayer.h</string>
		<string>libs/cocos2d/CCTMXLayer.m</string>
		<string>libs/cocos2d/CCTMXObjectGroup.h</string>
		<string>libs/cocos2d/CCTMXObjectGroup.m</string>
		<string>libs/cocos2d/CCTMXTiledMap.h</string>
		<string>libs/cocos2d/CCTMXTiledMap.m</string>
		<string>libs/cocos2d/CCTMXXMLParser.h</string>
		<string>libs/cocos2d/CCTMXXMLParser.m</string>
		<string>libs/cocos2d/CCTransition.h</string>
		<string>libs/cocos2d/CCTransition.m</string>
		<string>libs/cocos2d/CCTransitionPageTurn.h</string>
		<string>libs/cocos2d/CCTransitionPageTurn.m</string>
		<string>libs/cocos2d/CCTransitionRadial.h</string>
		<string>libs/cocos2d/CCTransitionRadial.m</string>
		<string>libs/cocos2d/ccTypes.h</string>
		<string>libs/cocos2d/cocos2d.h</string>
		<string>libs/cocos2d/cocos2d.m</string>
		<string>libs/cocos2d/Platforms/CCGL.h</string>
		<string>libs/cocos2d/Platforms/CCNS.h</string>
		<string>libs/cocos2d/Platforms/iOS/CCDirectorIOS.h</string>
		<string>libs/cocos2d/Platforms/iOS/CCDirectorIOS.m</string>
		<string>libs/cocos2d/Platforms/iOS/CCTouchDelegateProtocol.h</string>
		<string>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.h</string>
		<string>libs/cocos2d/Platforms/iOS/CCTouchDispatcher.m</string>
		<string>libs/cocos2d/Platforms/iOS/CCTouchHandler.h</string>
		<string>libs/cocos2d/Platforms/iOS/CCTouchHandler.m</string>
		<string>libs/cocos2d/Platforms/iOS/EAGLView.h</string>
		<string>libs/cocos2d/Platforms/iOS/EAGLView.m</string>
		<string>libs/cocos2d/Platforms/iOS/ES1Renderer.h</string>
		<string>libs/cocos2d/Platforms/iOS/ES1Renderer.m</string>
		<string>libs/cocos2d/Platforms/iOS/ESRenderer.h</string>
		<string>libs/cocos2d/Platforms/iOS/glu.c</string>
		<string>libs/cocos2d/Platforms/iOS/glu.h</string>
		<string>libs/cocos2d/Platforms/Mac/CCDirectorMac.h</string>
		<string>libs/cocos2d/Platforms/Mac/CCDirectorMac.m</string>
		<string>libs/cocos2d/Platforms/Mac/CCEventDispatcher.h</string>
		<string>libs/cocos2d/Platforms/Mac/CCEventDispatcher.m</string>
		<string>libs/cocos2d/Platforms/Mac/MacGLView.h</string>
		<string>libs/cocos2d/Platforms/Mac/MacGLView.m</string>
		<string>libs/cocos2d/Platforms/Mac/MacWindow.h</string>
		<string>libs/cocos2d/Platforms/Mac/MacWindow.m</string>
		<string>libs/cocos2d/Support/base64.c</string>
		<string>libs/cocos2d/Support/base64.h</string>
		<string>libs/cocos2d/Support/CCArray.h</string>
		<string>libs/cocos2d/Support/CCArray.m</string>
		<string>libs/cocos2d/Support/ccCArray.h</string>
		<string>libs/cocos2d/Support/CCFileUtils.h</string>
		<string>libs/cocos2d/Support/CCFileUtils.m</string>
		<string>libs/cocos2d/Support/CCProfiling.h</string>
		<string>libs/cocos2d/Support/CCProfiling.m</string>
		<string>libs/cocos2d/Support/ccUtils.c</string>
		<string>libs/cocos2d/Support/ccUtils.h</string>
		<string>libs/cocos2d/Support/CGPointExtension.h</string>
		<string>libs/cocos2d/Support/CGPointExtension.m</string>
		<string>libs/cocos2d/Support/OpenGL_Internal.h</string>
		<string>libs/cocos2d/Support/TGAlib.h</string>
		<string>libs/cocos2d/Support/TGAlib.m</string>
		<string>libs/cocos2d/Support/TransformUtils.h</string>
		<string>libs/cocos2d/Support/TransformUtils.m</string>
		<string>libs/cocos2d/Support/uthash.h</string>
		<string>libs/cocos2d/Support/utlist.h</string>
		<string>libs/cocos2d/Support/ZipUtils.h</string>
		<string>libs/cocos2d/Support/ZipUtils.m</string>
		<string>libs/LICENSE_cocos2d.txt</string>
	</array>
</dict>
</plist>
