<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,62},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,32},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,32},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,92},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,92},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{12,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{12,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,92},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,92},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin19.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:260e59ebb1883a1594b2f383989de51c$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
