<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Chassis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,77}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>ChassisOutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{165,65}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{165,65}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>FrontStrut.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,148},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,33}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>RearStrut.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,76},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,42}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>Wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>coin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,382},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,400},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,326},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,344},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,456},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin08.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,351},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,239},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{34,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,176},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{22,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,120},{22,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{22,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,183},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{34,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,295},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,456},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,270},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,288},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,232},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,176},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin20.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,120},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9ba83a87e3944853a601cea2b10344$</string>
            <key>textureFileName</key>
            <string>coins-hd.png</string>
        </dict>
    </dict>
</plist>
