<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d.bundlebase</string>
		<string>com.cocos2d.macbase</string>
		<string>com.cocos2d.cocos2dlib</string>
		<string>com.cocos2d.box2dlib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d and Box2d for Mac OS X.</string>
	<key>Identifier</key>
	<string>com.cocos2d.cocos2dBox2dMacTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>___PACKAGENAME___/libs</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.mm</string>
		<string>HelloWorldLayer.h</string>
		<string>HelloWorldLayer.mm</string>
		<string>GLES-Render.h</string>
		<string>GLES-Render.mm</string>
		<string>Resources/blocks.png</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>AppDelegate.mm</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.mm</string>
		</dict>
		<key>GLES-Render.h</key>
		<dict>
			<key>Path</key>
			<string>GLES-Render.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>GLES-Render.mm</key>
		<dict>
			<key>Path</key>
			<string>GLES-Render.mm</string>
		</dict>
		<key>HelloWorldLayer.h</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>HelloWorldLayer.mm</key>
		<dict>
			<key>Path</key>
			<string>HelloWorldLayer.mm</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/blocks.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/blocks.png</string>
		</dict>
	</dict>
</dict>
</plist>
