<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coco_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{70,14}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,77},{70,14}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>coco_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{72,32}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,32},{72,32}}</string>
                <key>sourceSize</key>
                <string>{94,68}</string>
            </dict>
            <key>coco_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{78,52}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,57},{78,52}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>coco_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,70}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{78,70}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>coco_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{78,90}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animated_particles.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5de3b529678b5502a39f7fee215b1d$</string>
            <key>textureFileName</key>
            <string>animated_particles.png</string>
        </dict>
    </dict>
</plist>
