<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>Beacon-1.png</key>
<dict>
<key>spriteSize</key>
<string>{160,160}</string>
<key>spriteOffset</key>
<string>{48,48}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{298,288},{159,159}}</string>
<key>textureRotated</key>
<false/>
<key>aliases</key>
<array>
</array>
</dict>
<key>Beacon-2.png</key>
<dict>
<key>spriteSize</key>
<string>{154,154}</string>
<key>spriteOffset</key>
<string>{51,51}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{144,288},{153,153}}</string>
<key>textureRotated</key>
<false/>
<key>aliases</key>
<array>
</array>
</dict>
<key>Beacon-3.png</key>
<dict>
<key>spriteSize</key>
<string>{150,150}</string>
<key>spriteOffset</key>
<string>{53,53}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{144,138},{149,149}}</string>
<key>textureRotated</key>
<false/>
<key>aliases</key>
<array>
</array>
</dict>
<key>Beacon-4.png</key>
<dict>
<key>spriteSize</key>
<string>{144,144}</string>
<key>spriteOffset</key>
<string>{56,56}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{0,138},{143,143}}</string>
<key>textureRotated</key>
<false/>
<key>aliases</key>
<array>
</array>
</dict>
<key>Beacon-5.png</key>
<dict>
<key>spriteSize</key>
<string>{138,138}</string>
<key>spriteOffset</key>
<string>{59,59}</string>
<key>spriteSourceSize</key>
<string>{256,256}</string>
<key>textureRect</key>
<string>{{0,0},{137,137}}</string>
<key>textureRotated</key>
<false/>
<key>aliases</key>
<array>
</array>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>textureFileName</key>
<string>BeaconSheet.png</string>
<key>size</key>
<string>{512,512}</string>
</dict>
</dict>
</plist>