<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v3.bundlebase</string>
		<string>com.cocos2d-v3.macbase</string>
		<string>com.cocos2d-v3.cocos2dlib</string>
		<string>com.cocos2d-v3.objectallib</string>
		<string>com.cocos2d-v3.cocos2d-uilib</string>
		<string>com.cocos2d-v3.ccbreaderlib</string>
		<string>com.cocos2d-v3.chipmunklib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses cocos2d v3.0 for Mac. It also includes CCBReader, kazmath and Chipmunk.</string>
	<key>Identifier</key>
	<string>com.cocos2d-v3.cocos2dOnlyMacTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Supporting Files/Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Supporting Files/main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Supporting Files/main.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/HelloWorldLayer.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldLayer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/HelloWorldLayer.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/HelloWorldLayer.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
			<key>TargetIndices</key>
			<array>
				<integer>0</integer>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Supporting Files/Prefix.pch</string>
		<string>Supporting Files/main.m</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Classes/HelloWorldLayer.h</string>
		<string>Classes/HelloWorldLayer.m</string>
	</array>
</dict>
</plist>
